.nav {
    
    margin: 20px 0 40px;

    @include breakpoint(medium) {
        margin: 80px 0;
    }

    .nav-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        & > * {
            width: 100%;
        }
        
        @include breakpoint(medium) {
            flex-wrap: nowrap;

            & > * {
                width: auto;
            }
        }

        .nav-item {

            display: flex;
            align-items: center;

            &.toggler {
                justify-content: center;
                margin-bottom: 40px;
                text-transform: uppercase;
                color: rgba(black, .5);
                cursor: pointer;
                display: flex;
                
                @include breakpoint(medium) {
                    display: none;
                }
            }

            &.logo {
                flex-grow: 1;
                justify-content: center;

                @include breakpoint(medium) {
                    justify-content: flex-start;
                }

                img {
                    width: 100%;
                    max-width: 250px;
                    
                    @include breakpoint(medium) {
                        max-width: 320px;
                    }
                }
            }

            &.links {

                display: none;
                @include breakpoint(medium) {
                    display: flex;
                }

                li {
                    display: block;

                    a {
                        display: block;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}