.portfolio-grid {
    margin: 80px 0;

    @include breakpoint(sm) {
        margin: 20px 0;
    }

    .grid-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $grid_padding;

        @include breakpoint(sm) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: $grid_padding / 2;
        }
    }
}