html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.link-text {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(black, .5);

    &.active {
        color: black;
    }

    &:hover {
        color: black;
    }
}